.input-cadastro {
    left:50%;
    top:20%;
    margin-left: -260px; 
    margin-top: auto; 
    position:absolute;
    width: 500px; 
    height:500px;
    /* text-align: center; */
    padding: 50px 50px;
    background:#fff;
    font-family: 'Muli', sans-serif;
}