<div class="input-cadastro container">

  <h3>Cadastro</h3>

  <div class="form-group">
    <label for="input-nome"> Primeiro nome</label>
    <input type="text" class="form-control" id="nomePrimeiro">
  </div>

  <div class="form-group">
    <label for="input-nome"> Segundo nome</label>
    <input type="text" class="form-control" id="nomeSegundo">
  </div>

  <div class="form-group">
    <label for="input-email"> Email</label>
    <input type="email" class="form-control" id="idEmail">
  </div>

  <div class="form-group">
    <label for="input-senha"> Password</label>
    <input type="password" class="form-control" id="idSenha">
  </div>
<div class="row">
  <button type="submit" routerLink="/form" class="btn btn-primary">Voltar</button>
  <button type="submit" class="btn btn-primary">Enviar</button>
</div>
</div>

