<link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
<div class="input-fiel col-md-8">

<h3>Login</h3>
<div>
    <label for="formGroupExampleInput"> Email </label>
    <input type="text" class="form-email" id="input-email" placeholder="email@email.com"> 
</div> <br/>
<div class="form-group">
    <label for="formGroupExampleInput2">Senha </label>
    <input type="password" class="form-senha" id="input-senha" placeholder="">
</div> 
<button type="submit" class="btn btn-primary">Enviar</button>
<br/>
<a routerLink="/cadastro" >Não tem conta? Clique aqui!</a>
</div>

